# Data Types in python

In [1]:
type(-12)

int

In [2]:
type(12+10)

int

In [3]:
type(12 + 10.25)

float

In [4]:
type(12 + 3j)

complex

### Boolean

In [5]:
type(True)

bool

In [6]:
type(False)

bool

In [7]:
type(1>5)

bool

In [8]:
1>5

False

### Strings

In [9]:
'Single qoute'

'Single qoute'

In [10]:
"Double Qoute"

'Double Qoute'

In [12]:
multiline= """
The ice cream vanquised 
my loging for sweet ,
upon this diet I look away,
it no longer exist on this day

"""

In [13]:
print(multiline)

The ice cream vanquised
my loging for sweet ,
upon this diet I look away,
it no longer exist on this day

In [14]:
a = 'Hello World!'

In [15]:
print(a[:5])

Hello

In [16]:
print(a[6])

W

In [17]:
a*3

'Hello World!Hello World!Hello World!'

In [18]:
a+a

'Hello World!Hello World!'

# List

### string was stored as one value multiple character but a list can store seprate value

In [19]:
# List

[1,2,3]

[1, 2, 3]

In [20]:
['ali','syed','faizan']

['ali', 'syed', 'faizan']

In [21]:
# you put any thing in list you want 
['Vanila',3,['Scoops','Spoon'],True]

['Vanila', 3, ['Scoops', 'Spoon'], True]

In [22]:
ice_cream = ['Cookie Dough','Strawberry','Chocolate']
ice_cream.append('Salted Camel')
ice_cream

['Cookie Dough', 'Strawberry', 'Chocolate', 'Salted Camel']

In [23]:
# to change the value in the list 
ice_cream[0] = 'Butter Peccan'
ice_cream

['Butter Peccan', 'Strawberry', 'Chocolate', 'Salted Camel']

In [24]:
new_list = ['Vanila',3,['Scoops','Spoon'],True]

In [28]:
new_list[2][0]

'Scoops'

# Tuple

### the main difference in the list and the tuple that tuple can not be changed but list can

In [29]:
tuple_scoops = (1,2,3,4,5,6,7)

In [30]:
type(tuple_scoops)

tuple

In [31]:
tuple_scoops[1]

2

In [32]:
tupe_scoops.append(3)

NameError: name 'tupe_scoops' is not defined

### Hence we cannot change the tuple and add or minus or update the tuple

# Set

### 1. set is somewhat similar to a list or tuple but the main difference is that set can not contain duplicate value

2. Set cannot accessed using an index because it does not have index because its actually unodered

In [35]:
# set 
daily_pints_log = {1,2,3,4,3,2,1,3,4,5,6,7,8,9}
daily_pints_log

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [38]:
wifes_daily_pints_logs = {1,2,12,31,4,5,7,8,9,10}
wifes_daily_pints_logs

{1, 2, 4, 5, 7, 8, 9, 10, 12, 31}

In [39]:
print(daily_pints_log | wifes_daily_pints_logs)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 12, 31}

In [40]:
print(daily_pints_log & wifes_daily_pints_logs)

{1, 2, 4, 5, 7, 8, 9}

# dictionary

In [41]:
dict_cream = {'name':'faizan','weekly intake':5,'favorite ice cream':['Megnum','Chocolate']}
dict_cream

{'name': 'faizan',
 'weekly intake': 5,
 'favorite ice cream': ['Megnum', 'Chocolate']}

In [42]:
type(dict_cream)

dict

In [43]:
dict_cream.keys()

dict_keys(['name', 'weekly intake', 'favorite ice cream'])

In [45]:
dict_cream.items()

dict_items([('name', 'faizan'), ('weekly intake', 5), ('favorite ice cream', ['Megnum', 'Chocolate'])])

In [46]:
dict_cream.values()

dict_values(['faizan', 5, ['Megnum', 'Chocolate']])

In [47]:
dict_cream['name']

'faizan'

In [48]:
dict_cream['name'] ='ali'

In [50]:
dict_cream

{'name': 'ali',
 'weekly intake': 5,
 'favorite ice cream': ['Megnum', 'Chocolate']}

In [51]:
dict_cream.update({'name': 'faizan',
 'weekly intake': 5,
 'weight':300})
dict_cream

{'name': 'faizan',
 'weekly intake': 5,
 'favorite ice cream': ['Megnum', 'Chocolate'],
 'weight': 300}

In [52]:
del dict_cream['weight']
dict_cream

{'name': 'faizan',
 'weekly intake': 5,
 'favorite ice cream': ['Megnum', 'Chocolate']}